In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
df = pd.read_csv('Corona2.csv')

1. Write a Python program to display first 5 rows from COVID-19 dataset.
Also print the dataset information and check the missing values.

In [ ]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,NaN,Afghanistan,2023-01-03 4:21,33.93911,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337
1,NaN,NaN,NaN,Albania,2023-01-03 4:21,41.15330,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953
2,NaN,NaN,NaN,Algeria,2023-01-03 4:21,28.03390,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971
3,NaN,NaN,NaN,Andorra,2023-01-03 4:21,42.50630,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543
4,NaN,NaN,NaN,Angola,2023-01-03 4:21,-11.20270,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434

      Confirmed  Country_Region  Deaths  Recovered
5            11      Antarctica      11          0
110          42           Chile      42          0
237           0         Germany       0          0
283           0           India       0          0
397           0        Malaysia       0          0
436           0          Mexico       0          0
463           0     Netherlands       0          0
639           0           Spain       0          0
730           0              US       0          0
742           0              US       0          0
751           0              US       0          0
774           0              US       0          0
789           0              US       0          0
793           0              US       0          0
902           0              US       0          0
979           0              US       0          0
1249          0              US       0          0
1292          0              US       0          0
1479          0              US       0          0
1664          0              US       0          0
1691          0              US       0          0
1857          0              US       0          0
1894          0              US       0          0
2190          0              US       0          0
2310          0              US       0          0
2370          0              US       0          0
2707          0              US       0          0
2921          0              US       0          0
3038          0              US       0          0
3127          0              US       0          0
3177          0              US       0          0
3243          0              US       0          0
3753          0              US       0          0
3852          0              US       0          0
3922          0              US       0          0
3954          0              US       0          0
3991          0  United Kingdom       0          0

In [ ]:
df.describe()

,FIPS,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,Case_Fatality_Ratio
count,3268.000000,3925.000000,3925.000000,4.016000e+03,4016.000000,4.016000e+03,0.0,3922.000000,3974.000000
mean,32405.943390,35.736183,-71.109728,1.646409e+05,1667.289841,1.629737e+05,NaN,27693.653663,3.396156
std,18056.381177,13.441327,55.361480,1.046512e+06,8705.463362,1.040252e+06,NaN,10388.048975,93.482133
min,60.000000,-71.949900,-178.116500,0.000000e+00,0.000000,-4.830000e+03,NaN,0.000000,0.000000
25%,19048.500000,33.191535,-96.595639,3.737500e+03,46.000000,3.677500e+03,NaN,23345.450938,0.892777
50%,30068.000000,37.895700,-86.717326,1.050600e+04,130.500000,1.033450e+04,NaN,28611.368830,1.287045
75%,47041.500000,42.176955,-77.357900,4.577550e+04,465.250000,4.471575e+04,NaN,33164.946218,1.739872
max,99999.000000,71.706900,178.065000,3.830609e+07,183348.000000,3.814745e+07,NaN,218343.195300,5651.724138

2.Write a python program to replace all the missing values with
“Tobefound” for province column.

In [ ]:
df.isnull().sum()

FIPS                    748
Admin2                  744
Province_State          179
Country_Region            0
Last_Update               0
Lat                      91
Long_                    91
Confirmed                 0
Deaths                    0
Recovered                 0
Active                 4016
Combined_Key              0
Incident_Rate            94
Case_Fatality_Ratio      42
dtype: int64

In [ ]:
df['Province_State'].fillna("Tobefound", inplace = True)
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,NaN,NaN,Tobefound,Afghanistan,2023-01-03 4:21,33.939110,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337
1,NaN,NaN,Tobefound,Albania,2023-01-03 4:21,41.153300,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953
2,NaN,NaN,Tobefound,Algeria,2023-01-03 4:21,28.033900,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971
3,NaN,NaN,Tobefound,Andorra,2023-01-03 4:21,42.506300,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543
4,NaN,NaN,Tobefound,Angola,2023-01-03 4:21,-11.202700,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,Tobefound,West Bank and Gaza,2023-01-03 4:21,31.952200,35.233200,703228,5708,697520,NaN,West Bank and Gaza,13784.956960,0.811686
4012,NaN,NaN,Tobefound,Winter Olympics 2022,2023-01-03 4:21,39.904200,116.407400,535,0,535,NaN,Winter Olympics 2022,NaN,0.000000
4013,NaN,NaN,Tobefound,Yemen,2023-01-03 4:21,15.552727,48.516388,11945,2159,9786,NaN,Yemen,40.048994,18.074508
4014,NaN,NaN,Tobefound,Zambia,2023-01-03 4:21,-13.133897,27.849332,334661,4024,330637,NaN,Zambia,1820.397090,1.202411
4015,NaN,NaN,Tobefound,Zimbabwe,2023-01-03 4:21,-19.015438,29.154857,259981,5637,254344,NaN,Zimbabwe,1749.191125,2.168235

3. Normalize the values for “Confirmed” column as per the z-score.

In [ ]:
#ZSCORE ... HOW MANY STD DEVIATION YOU ARE AWAY FROM THE MEAN
df['ZSCORE']= (df['Confirmed']-df['Confirmed'].mean())/df['Confirmed'].std()
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,ZSCORE
0,NaN,NaN,Tobefound,Afghanistan,2023-01-03 4:21,33.939110,67.709953,207627,7849,199778,NaN,Afghanistan,533.356919,3.780337,0.041076
1,NaN,NaN,Tobefound,Albania,2023-01-03 4:21,41.153300,20.168300,333812,3595,330217,NaN,Albania,11599.555220,1.076953,0.161652
2,NaN,NaN,Tobefound,Algeria,2023-01-03 4:21,28.033900,1.659600,271229,6881,264348,NaN,Algeria,618.523486,2.536971,0.101851
3,NaN,NaN,Tobefound,Andorra,2023-01-03 4:21,42.506300,1.521800,47751,165,47586,NaN,Andorra,61801.591920,0.345543,-0.111695
4,NaN,NaN,Tobefound,Angola,2023-01-03 4:21,-11.202700,17.873900,105095,1930,103165,NaN,Angola,319.765542,1.836434,-0.056899
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,NaN,NaN,Tobefound,West Bank and Gaza,2023-01-03 4:21,31.952200,35.233200,703228,5708,697520,NaN,West Bank and Gaza,13784.956960,0.811686,0.514650
4012,NaN,NaN,Tobefound,Winter Olympics 2022,2023-01-03 4:21,39.904200,116.407400,535,0,535,NaN,Winter Olympics 2022,NaN,0.000000,-0.156812
4013,NaN,NaN,Tobefound,Yemen,2023-01-03 4:21,15.552727,48.516388,11945,2159,9786,NaN,Yemen,40.048994,18.074508,-0.145909
4014,NaN,NaN,Tobefound,Zambia,2023-01-03 4:21,-13.133897,27.849332,334661,4024,330637,NaN,Zambia,1820.397090,1.202411,0.162464
4015,NaN,NaN,Tobefound,Zimbabwe,2023-01-03 4:21,-19.015438,29.154857,259981,5637,254344,NaN,Zimbabwe,1749.191125,2.168235,0.091103

In [ ]:
df[df['ZSCORE']>2.5]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,ZSCORE
7,NaN,NaN,Tobefound,Argentina,2023-01-03 4:21,-38.416100,-63.616700,9963697,130171,9833526,NaN,Argentina,22045.637140,1.306453,9.363541
10,NaN,NaN,New South Wales,Australia,2023-01-03 4:21,-33.868800,151.209300,3825104,5804,3819300,NaN,"New South Wales, Australia",47118.797730,0.151734,3.497775
15,NaN,NaN,Victoria,Australia,2023-01-03 4:21,-37.813600,144.963100,2838417,6405,2832012,NaN,"Victoria, Australia",42812.365190,0.225654,2.554941
17,NaN,NaN,Tobefound,Austria,2023-01-03 4:21,47.516200,14.550100,5709405,21444,5687961,NaN,Austria,63392.754040,0.375591,5.298329
54,NaN,NaN,Minas Gerais,Brazil,2023-01-03 4:21,-18.512200,-44.555000,4086432,64474,4021958,NaN,"Minas Gerais, Brazil",19304.040560,1.577758,3.747488
57,NaN,NaN,Parana,Brazil,2023-01-03 4:21,-25.252100,-52.021500,2863709,45720,2817989,NaN,"Parana, Brazil",25045.651300,1.596531,2.579109
61,NaN,NaN,Rio Grande do Sul,Brazil,2023-01-03 4:21,-30.034600,-51.217700,2901027,41517,2859510,NaN,"Rio Grande do Sul, Brazil",25498.515060,1.431114,2.614768
66,NaN,NaN,Sao Paulo,Brazil,2023-01-03 4:21,-23.550500,-46.633300,6317683,177439,6140244,NaN,"Sao Paulo, Brazil",13758.305400,2.808609,5.879572
188,NaN,NaN,Tobefound,Czechia,2023-01-03 4:21,49.817500,15.473000,4580077,42140,4537937,NaN,Czechia,42768.556340,0.920072,4.219194
191,NaN,NaN,Tobefound,Denmark,2023-01-03 4:21,56.263900,9.501800,3385836,7758,3378078,NaN,Denmark,58455.064510,0.229131,3.078030
217,NaN,NaN,Tobefound,France,2023-01-03 4:21,46.227600,2.213700,38306086,158637,38147449,NaN,France,58685.498640,0.414130,36.446262
221,NaN,NaN,Baden-Wurttemberg,Germany,2023-01-03 4:21,48.661600,9.350100,4973302,18609,4954693,NaN,"Baden-Wurttemberg, Germany",44927.839320,0.374178,4.594942
222,NaN,NaN,Bayern,Germany,2023-01-03 4:21,48.790400,11.497900,6615514,27573,6587941,NaN,"Bayern, Germany",50590.006470,0.416793,6.164166
227,NaN,NaN,Hessen,Germany,2023-01-03 4:21,50.652100,9.162400,2854548,11909,2842639,NaN,"Hessen, Germany",45557.532950,0.417194,2.570355
229,NaN,NaN,Niedersachsen,Germany,2023-01-03 4:21,52.636700,9.845100,3758179,12335,3745844,NaN,"Niedersachsen, Germany",47080.532190,0.328217,3.433825
230,NaN,NaN,Nordrhein-Westfalen,Germany,2023-01-03 4:21,51.433200,7.661600,7801616,29919,7771697,NaN,"Nordrhein-Westfalen, Germany",43505.090240,0.383497,7.297552
239,NaN,NaN,Tobefound,Greece,2023-01-03 4:21,39.074200,21.824300,5548487,34779,5513708,NaN,Greece,53232.823460,0.626820,5.144563
265,NaN,NaN,Karnataka,India,2023-01-03 4:21,14.705180,76.166436,4072091,40308,4031783,NaN,"Karnataka, India",6027.130123,0.989860,3.733785
266,NaN,NaN,Kerala,India,2023-01-03 4:21,10.450898,76.405749,6828566,71558,6757008,NaN,"Kerala, India",19127.934290,1.047921,6.367749
270,NaN,NaN,Maharashtra,India,2023-01-03 4:21,19.449759,76.108221,8136687,148417,7988270,NaN,"Maharashtra, India",6607.445158,1.824047,7.617731
280,NaN,NaN,Tamil Nadu,India,2023-01-03 4:21,11.006091,78.400624,3594456,38049,3556407,NaN,"Tamil Nadu, India",4617.674067,1.058547,3.277378
287,NaN,NaN,Tobefound,Indonesia,2023-01-03 4:21,-0.789300,113.921300,6720443,160635,6559808,NaN,Indonesia,2456.988166,2.390244,6.264432
288,NaN,NaN,Tobefound,Iran,2023-01-03 4:21,32.427908,53.688046,7561309,144693,7416616,NaN,Iran,9002.313563,1.913597,7.067926
291,NaN,NaN,Tobefound,Israel,2023-01-03 4:21,31.046051,34.851612,4765806,12055,4753751,NaN,Israel,55060.752410,0.252948,4.396668
300,NaN,NaN,Lombardia,Italy,2023-01-03 4:21,45.466794,9.190347,4059723,44688,4015035,NaN,"Lombardia, Italy",40352.796970,1.100765,3.721967
355,NaN,NaN,Tokyo,Japan,2023-01-03 4:21,35.711343,139.446921,4006090,6804,3999286,NaN,"Tokyo, Japan",28778.011510,0.169841,3.670717
368,NaN,NaN,Tobefound,"Korea, South",2023-01-03 4:21,35.907757,127.766922,29220591,32301,29188290,NaN,"Korea, South",56994.454150,0.110542,27.764569
513,NaN,NaN,Tobefound,Philippines,2023-01-03 4:21,12.879721,121.774017,4065173,65415,3999758,NaN,Philippines,3709.739687,1.609157,3.727174
514,NaN,NaN,Tobefound,Poland,2023-01-03 4:21,51.919400,19.145100,6368749,118533,6250216,NaN,Poland,16827.794730,1.861166,5.928369
515,NaN,NaN,Tobefound,Portugal,2023-01-03 4:21,39.399900,-8.224500,5554058,25714,5528344,NaN,Portugal,54469.134010,0.462977,5.149886
517,NaN,NaN,Tobefound,Romania,2023-01-03 4:21,45.943200,24.966800,3312085,67408,3244677,NaN,Romania,17216.653230,2.035213,3.007557
560,NaN,NaN,Moscow,Russia,2023-01-03 4:21,55.750446,37.617494,3302315,47504,3254811,NaN,"Moscow, Russia",26404.857070,1.438506,2.998221
618,NaN,NaN,Tobefound,South Africa,2023-01-03 4:21,-30.559500,22.937500,4049366,102568,3946798,NaN,South Africa,6827.609917,2.532940,3.712070
665,NaN,NaN,Tobefound,Switzerland,2023-01-03 4:21,46.818200,8.227500,4399516,14174,4385342,NaN,Switzerland,50834.317590,0.322172,4.046658
667,NaN,NaN,Tobefound,Taiwan*,2023-01-03 4:21,23.700000,121.000000,8889346,15299,8874047,NaN,Taiwan*,37323.886210,0.172105,8.336939
670,NaN,NaN,Tobefound,Thailand,2023-01-03 4:21,15.870032,100.992541,4723919,33669,4690250,NaN,Thailand,6767.794397,0.712734,4.356643
676,NaN,NaN,Tobefound,Turkey,2023-01-03 4:21,38.963700,35.243300,17042722,101492,16941230,NaN,Turkey,20207.387400,0.595515,16.127941
890,6037.0,Los Angeles,California,US,2023-01-03 4:21,34.308284,-118.228241,3631736,34671,3597065,NaN,"Los Angeles, California, US",36175.886960,0.954667,3.313001
3992,NaN,NaN,England,United Kingdom,2023-01-03 4:21,52.355500,-1.174300,20392339,183348,20208991,NaN,"England, United Kingdom",36429.723170,0.885833,19.328685
4010,NaN,NaN,Tobefound,Vietnam,2023-01-03 4:21,14.058324,108.277199,11525336,43186,11482150,NaN,Vietnam,11840.460020,0.374705,10.855773

OTHER WAY TO FIND ZSCORE

In [ ]:
from scipy import stats

df['zscore']=stats.zscore(df["Confirmed"])
#outlier=np.where(score>3)
df.loc[df['zscore'].abs()>2]

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,ZSCORE,zscore
7,NaN,NaN,Tobefound,Argentina,2023-01-03 4:21,-38.416100,-63.616700,9963697,130171,9833526,NaN,Argentina,22045.637140,1.306453,9.363541,9.364707
10,NaN,NaN,New South Wales,Australia,2023-01-03 4:21,-33.868800,151.209300,3825104,5804,3819300,NaN,"New South Wales, Australia",47118.797730,0.151734,3.497775,3.498211
15,NaN,NaN,Victoria,Australia,2023-01-03 4:21,-37.813600,144.963100,2838417,6405,2832012,NaN,"Victoria, Australia",42812.365190,0.225654,2.554941,2.555259
17,NaN,NaN,Tobefound,Austria,2023-01-03 4:21,47.516200,14.550100,5709405,21444,5687961,NaN,Austria,63392.754040,0.375591,5.298329,5.298989
54,NaN,NaN,Minas Gerais,Brazil,2023-01-03 4:21,-18.512200,-44.555000,4086432,64474,4021958,NaN,"Minas Gerais, Brazil",19304.040560,1.577758,3.747488,3.747955
57,NaN,NaN,Parana,Brazil,2023-01-03 4:21,-25.252100,-52.021500,2863709,45720,2817989,NaN,"Parana, Brazil",25045.651300,1.596531,2.579109,2.579430
61,NaN,NaN,Rio Grande do Sul,Brazil,2023-01-03 4:21,-30.034600,-51.217700,2901027,41517,2859510,NaN,"Rio Grande do Sul, Brazil",25498.515060,1.431114,2.614768,2.615094
62,NaN,NaN,Rio de Janeiro,Brazil,2023-01-03 4:21,-22.906800,-43.172900,2702176,76513,2625663,NaN,"Rio de Janeiro, Brazil",15651.230360,2.831533,2.424755,2.425057
66,NaN,NaN,Sao Paulo,Brazil,2023-01-03 4:21,-23.550500,-46.633300,6317683,177439,6140244,NaN,"Sao Paulo, Brazil",13758.305400,2.808609,5.879572,5.880304
124,NaN,NaN,Hong Kong,China,2023-01-03 4:21,22.300000,114.200000,2669224,11943,2657281,NaN,"Hong Kong, China",35603.951880,0.447433,2.393268,2.393566
188,NaN,NaN,Tobefound,Czechia,2023-01-03 4:21,49.817500,15.473000,4580077,42140,4537937,NaN,Czechia,42768.556340,0.920072,4.219194,4.219719
191,NaN,NaN,Tobefound,Denmark,2023-01-03 4:21,56.263900,9.501800,3385836,7758,3378078,NaN,Denmark,58455.064510,0.229131,3.078030,3.078413
217,NaN,NaN,Tobefound,France,2023-01-03 4:21,46.227600,2.213700,38306086,158637,38147449,NaN,France,58685.498640,0.414130,36.446262,36.450801
221,NaN,NaN,Baden-Wurttemberg,Germany,2023-01-03 4:21,48.661600,9.350100,4973302,18609,4954693,NaN,"Baden-Wurttemberg, Germany",44927.839320,0.374178,4.594942,4.595514
222,NaN,NaN,Bayern,Germany,2023-01-03 4:21,48.790400,11.497900,6615514,27573,6587941,NaN,"Bayern, Germany",50590.006470,0.416793,6.164166,6.164934
227,NaN,NaN,Hessen,Germany,2023-01-03 4:21,50.652100,9.162400,2854548,11909,2842639,NaN,"Hessen, Germany",45557.532950,0.417194,2.570355,2.570675
229,NaN,NaN,Niedersachsen,Germany,2023-01-03 4:21,52.636700,9.845100,3758179,12335,3745844,NaN,"Niedersachsen, Germany",47080.532190,0.328217,3.433825,3.434252
230,NaN,NaN,Nordrhein-Westfalen,Germany,2023-01-03 4:21,51.433200,7.661600,7801616,29919,7771697,NaN,"Nordrhein-Westfalen, Germany",43505.090240,0.383497,7.297552,7.298461
239,NaN,NaN,Tobefound,Greece,2023-01-03 4:21,39.074200,21.824300,5548487,34779,5513708,NaN,Greece,53232.823460,0.626820,5.144563,5.145204
251,NaN,NaN,Andhra Pradesh,India,2023-01-03 4:21,15.912900,79.740000,2339069,14733,2324336,NaN,"Andhra Pradesh, India",4339.372477,0.629866,2.077786,2.078045
265,NaN,NaN,Karnataka,India,2023-01-03 4:21,14.705180,76.166436,4072091,40308,4031783,NaN,"Karnataka, India",6027.130123,0.989860,3.733785,3.734250
266,NaN,NaN,Kerala,India,2023-01-03 4:21,10.450898,76.405749,6828566,71558,6757008,NaN,"Kerala, India",19127.934290,1.047921,6.367749,6.368542
270,NaN,NaN,Maharashtra,India,2023-01-03 4:21,19.449759,76.108221,8136687,148417,7988270,NaN,"Maharashtra, India",6607.445158,1.824047,7.617731,7.618680
280,NaN,NaN,Tamil Nadu,India,2023-01-03 4:21,11.006091,78.400624,3594456,38049,3556407,NaN,"Tamil Nadu, India",4617.674067,1.058547,3.277378,3.277786
287,NaN,NaN,Tobefound,Indonesia,2023-01-03 4:21,-0.789300,113.921300,6720443,160635,6559808,NaN,Indonesia,2456.988166,2.390244,6.264432,6.265212
288,NaN,NaN,Tobefound,Iran,2023-01-03 4:21,32.427908,53.688046,7561309,144693,7416616,NaN,Iran,9002.313563,1.913597,7.067926,7.068806
289,NaN,NaN,Tobefound,Iraq,2023-01-03 4:21,33.223191,43.679291,2465390,25374,2440016,NaN,Iraq,6129.379865,1.029208,2.198493,2.198767
291,NaN,NaN,Tobefound,Israel,2023-01-03 4:21,31.046051,34.851612,4765806,12055,4753751,NaN,Israel,55060.752410,0.252948,4.396668,4.397215
295,NaN,NaN,Campania,Italy,2023-01-03 4:21,40.839566,14.250850,2405365,11538,2393827,NaN,"Campania, Italy",41459.715550,0.479678,2.141136,2.141403
298,NaN,NaN,Lazio,Italy,2023-01-03 4:21,41.892770,12.483667,2322932,12537,2310395,NaN,"Lazio, Italy",39511.814940,0.539706,2.062367,2.062623
300,NaN,NaN,Lombardia,Italy,2023-01-03 4:21,45.466794,9.190347,4059723,44688,4015035,NaN,"Lombardia, Italy",40352.796970,1.100765,3.721967,3.722430
312,NaN,NaN,Veneto,Italy,2023-01-03 4:21,45.434905,12.338452,2639526,16307,2623219,NaN,"Veneto, Italy",53803.598720,0.617800,2.364890,2.365184
346,NaN,NaN,Osaka,Japan,2023-01-03 4:21,34.620965,135.507481,2556578,7181,2549397,NaN,"Osaka, Japan",29021.144890,0.280883,2.285628,2.285913
355,NaN,NaN,Tokyo,Japan,2023-01-03 4:21,35.711343,139.446921,4006090,6804,3999286,NaN,"Tokyo, Japan",28778.011510,0.169841,3.670717,3.671174
368,NaN,NaN,Tobefound,"Korea, South",2023-01-03 4:21,35.907757,127.766922,29220591,32301,29188290,NaN,"Korea, South",56994.454150,0.110542,27.764569,27.768026
513,NaN,NaN,Tobefound,Philippines,2023-01-03 4:21,12.879721,121.774017,4065173,65415,3999758,NaN,Philippines,3709.739687,1.609157,3.727174,3.727638
514,NaN,NaN,Tobefound,Poland,2023-01-03 4:21,51.919400,19.145100,6368749,118533,6250216,NaN,Poland,16827.794730,1.861166,5.928369,5.929107
515,NaN,NaN,Tobefound,Portugal,2023-01-03 4:21,39.399900,-8.224500,5554058,25714,5528344,NaN,Portugal,54469.134010,0.462977,5.149886,5.150528
517,NaN,NaN,Tobefound,Romania,2023-01-03 4:21,45.943200,24.966800,3312085,67408,3244677,NaN,Romania,17216.653230,2.035213,3.007557,3.007932
560,NaN,NaN,Moscow,Russia,2023-01-03 4:21,55.750446,37.617494,3302315,47504,3254811,NaN,"Moscow, Russia",26404.857070,1.438506,2.998221,2.998595
610,NaN,NaN,Tobefound,Serbia,2023-01-03 4:21,44.016500,21.005900,2447387,17531,2429856,NaN,Serbia,28010.568400,0.716315,2.181290,2.181562
614,NaN,NaN,Tobefound,Slovakia,2023-01-03 4:21,48.669000,19.699000,2657398,20825,2636573,NaN,Slovakia,48896.758470,0.783661,2.381967,2.382264
618,NaN,NaN,Tobefound,South Africa,2023-01-03 4:21,-30.559500,22.937500,4049366,102568,3946798,NaN,South Africa,6827.609917,2.532940,3.712070,3.712532
629,NaN,NaN,Catalonia,Spain,2023-01-03 4:21,41.591200,1.520900,2674970,20902,2654068,NaN,"Catalonia, Spain",35353.127520,0.781392,2.398758,2.399057
665,NaN,NaN,Tobefound,Switzerland,2023-01-03 4:21,46.818200,8.227500,4399516,14174,4385342,NaN,Switzerland,50834.317590,0.322172,4.046658,4.047161
667,NaN,NaN,Tobefound,Taiwan*,2023-01-03 4:21,23.700000,121.000000,8889346,15299,8874047,NaN,Taiwan*,37323.886210,0.172105,8.336939,8.337977
670,NaN,NaN,Tobefound,Thailand,2023-01-03 4:21,15.870032,100.992541,4723919,33669,4690250,NaN,Thailand,6767.794397,0.712734,4.356643,4.357185
676,NaN,NaN,Tobefound,Turkey,2023-01-03 4:21,38.963700,35.243300,17042722,101492,16941230,NaN,Turkey,20207.387400,0.595515,16.127941,16.129949
890,6037.0,Los Angeles,California,US,2023-01-03 4:21,34.308284,-118.228241,3631736,34671,3597065,NaN,"Los Angeles, California, US",36175.886960,0.954667,3.313001,3.313414
3992,NaN,NaN,England,United Kingdom,2023-01-03 4:21,52.355500,-1.174300,20392339,183348,20208991,NaN,"England, United Kingdom",36429.723170,0.885833,19.328685,19.331092
4010,NaN,NaN,Tobefound,Vietnam,2023-01-03 4:21,14.058324,108.277199,11525336,43186,11482150,NaN,Vietnam,11840.460020,0.374705,10.855773,10.857125

In [ ]:
df['Confirmed'] = df['Confirmed'] /df['Confirmed'].abs().max()

df2=df.head(10)
df2

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,ZSCORE,zscore
0,NaN,NaN,Tobefound,Afghanistan,2023-01-03 4:21,33.93911,67.709953,5.420209e-03,7849,199778,NaN,Afghanistan,533.356919,3.780337,0.041076,0.041081
1,NaN,NaN,Tobefound,Albania,2023-01-03 4:21,41.15330,20.168300,8.714333e-03,3595,330217,NaN,Albania,11599.555220,1.076953,0.161652,0.161672
2,NaN,NaN,Tobefound,Algeria,2023-01-03 4:21,28.03390,1.659600,7.080572e-03,6881,264348,NaN,Algeria,618.523486,2.536971,0.101851,0.101863
3,NaN,NaN,Tobefound,Andorra,2023-01-03 4:21,42.50630,1.521800,1.246564e-03,165,47586,NaN,Andorra,61801.591920,0.345543,-0.111695,-0.111709
4,NaN,NaN,Tobefound,Angola,2023-01-03 4:21,-11.20270,17.873900,2.743559e-03,1930,103165,NaN,Angola,319.765542,1.836434,-0.056899,-0.056907
5,NaN,NaN,Tobefound,Antarctica,2023-01-03 4:21,-71.94990,23.347000,2.871606e-07,11,0,NaN,Antarctica,NaN,0.000000,-0.157313,-0.157333
6,NaN,NaN,Tobefound,Antigua and Barbuda,2023-01-03 4:21,17.06080,-61.796400,2.377168e-04,146,8960,NaN,Antigua and Barbuda,9298.668409,1.603338,-0.148622,-0.148641
7,NaN,NaN,Tobefound,Argentina,2023-01-03 4:21,-38.41610,-63.616700,2.601074e-01,130171,9833526,NaN,Argentina,22045.637140,1.306453,9.363541,9.364707
8,NaN,NaN,Tobefound,Armenia,2023-01-03 4:21,40.06910,45.038200,1.164243e-02,8716,437260,NaN,Armenia,15050.313270,1.954365,0.268831,0.268865
9,NaN,NaN,Australian Capital Territory,Australia,2023-01-03 4:21,-35.47350,149.012400,5.871182e-03,138,224764,NaN,"Australian Capital Territory, Australia",52534.921750,0.061360,0.057583,0.057590

4. Create bin values for “Death” column in the data set.

In [ ]:
# The pandas documentation describes qcut as a “Quantile-based discretization function.”
# This basically means that qcut tries to divide up the underlying data into equal sized bins.
# The function defines the bins using percentiles based on the distribution of the data, not the actual numeric edges of the bins.
#A common use case is to store the bin results back in the original dataframe for future analysis. For this example, we will create 4 bins (aka quartiles) and 10 bins (aka deciles) and store the results back in the original dataframe:
df['quantile_ex_1']=pd.qcut(df['Deaths'], q=4)
df['quantile_ex_2'] = pd.qcut(df['Deaths'], q=10, precision=0)

In [ ]:
df['quantile_ex_1'].value_counts()

(-0.001, 46.0]        1010
(130.5, 465.25]       1004
(465.25, 183348.0]    1004
(46.0, 130.5]          998
Name: quantile_ex_1, dtype: int64

In [ ]:
df['quantile_ex_2'].value_counts()

(33.0, 58.0]          409
(-1.0, 12.0]          406
(130.0, 189.0]        404
(329.0, 720.0]        404
(2610.0, 183348.0]    402
(87.0, 130.0]         401
(12.0, 33.0]          399
(189.0, 329.0]        399
(720.0, 2610.0]       399
(58.0, 87.0]          393
Name: quantile_ex_2, dtype: int64

5. Write a Python program to get the maximum number of confirmed,
deaths, recovered and active cases of Novel Coronavirus (COVID-19)
Country wise.

In [ ]:
df.groupby(["Country_Region"])[['Confirmed', 'Deaths', 'Recovered', 'Active']].max()

                      Confirmed  Deaths  Recovered  Active
Country_Region
Afghanistan            0.005420    7849     199778     NaN
Albania                0.008714    3595     330217     NaN
Algeria                0.007081    6881     264348     NaN
Andorra                0.001247     165      47586     NaN
Angola                 0.002744    1930     103165     NaN
...                         ...     ...        ...     ...
West Bank and Gaza     0.018358    5708     697520     NaN
Winter Olympics 2022   0.000014       0        535     NaN
Yemen                  0.000312    2159       9786     NaN
Zambia                 0.008736    4024     330637     NaN
Zimbabwe               0.006787    5637     254344     NaN

[201 rows x 4 columns]

6. Write a Python program to get the total number of confirmed deaths
and recovered people of Novel Coronavirus (COVID-19) cases
Country/Region - Province/State wise

In [ ]:
df.groupby(["Country_Region", "Province_State"])[['Confirmed', 'Deaths', 'Recovered', 'Active']].sum()

                                     Confirmed  Deaths  Recovered  Active
Country_Region       Province_State
Afghanistan          Tobefound        0.005420    7849     199778     0.0
Albania              Tobefound        0.008714    3595     330217     0.0
Algeria              Tobefound        0.007081    6881     264348     0.0
Andorra              Tobefound        0.001247     165      47586     0.0
Angola               Tobefound        0.002744    1930     103165     0.0
...                                        ...     ...        ...     ...
West Bank and Gaza   Tobefound        0.018358    5708     697520     0.0
Winter Olympics 2022 Tobefound        0.000014       0        535     0.0
Yemen                Tobefound        0.000312    2159       9786     0.0
Zambia               Tobefound        0.008736    4024     330637     0.0
Zimbabwe             Tobefound        0.006787    5637     254344     0.0

[796 rows x 4 columns]

7. Write a Python program to get the country wise (country name taken as
input from user) cases of confirmed, deaths and recovered cases of
Novel Coronavirus (COVID-19).

In [ ]:
name=input("Enter your country : ")
df[df['Country_Region']== name][['Confirmed', 'Deaths', 'Recovered']]

Enter your country : Canada

       Confirmed  Deaths  Recovered
77  1.624880e-02    5351     617077
78  1.023067e-02    4806     387091
79  0.000000e+00       1         -1
80  3.393717e-07       0         13
81  4.007379e-03    2331     151176
82  2.216123e-03     635      84256
83  1.407453e-03     288      53626
84  3.005006e-04      22      11489
85  3.510748e-03     674     133809
86  9.217856e-05       7       3524
87  4.055311e-02   15538    1537893
88  1.444131e-03      82      55237
89  3.355420e-02   17692    1267638
90  3.393717e-07       0         13
91  3.940418e-03    1781     149161
92  1.302404e-04      32       4957

8. Write a Python program to get the country wise deaths cases of Novel
Coronavirus (COVID-19).

In [ ]:
df[['Country_Region','Deaths']]

            Country_Region  Deaths
0              Afghanistan    7849
1                  Albania    3595
2                  Algeria    6881
3                  Andorra     165
4                   Angola    1930
...                    ...     ...
4011    West Bank and Gaza    5708
4012  Winter Olympics 2022       0
4013                 Yemen    2159
4014                Zambia    4024
4015              Zimbabwe    5637

[4016 rows x 2 columns]

9. Write a Python program to list countries with no cases of Novel
Coronavirus (COVID-19) .

In [ ]:
df[df['Confirmed']== 0][['Country_Region', 'Deaths', 'Recovered']]

      Country_Region  Deaths  Recovered
79            Canada       1         -1
176         Colombia       2         -2
237          Germany       0          0
283            India       0          0
397         Malaysia       0          0
436           Mexico       0          0
463      Netherlands       0          0
639            Spain       0          0
730               US       0          0
742               US       0          0
751               US       0          0
774               US       0          0
789               US       0          0
793               US       0          0
902               US       0          0
979               US       0          0
1249              US       0          0
1292              US       0          0
1479              US       0          0
1664              US       0          0
1691              US       0          0
1857              US       0          0
1894              US       0          0
1925              US      49        -49
2190              US       0          0
2310              US       0          0
2370              US       0          0
2593              US     543       -543
2707              US       0          0
2768              US     195       -195
2853              US       6         -6
2921              US       0          0
3038              US       0          0
3127              US       0          0
3177              US       0          0
3243              US       0          0
3753              US       0          0
3852              US       0          0
3922              US       0          0
3954              US       0          0
3991  United Kingdom       0          0
4004  United Kingdom     332       -332

10. Write a Python program to list countries where all cases of Novel
Coronavirus (COVID-19) died.

In [ ]:
df[df['Recovered']==0 ][['Confirmed','Country_Region', 'Deaths', 'Recovered']]

         Confirmed  Country_Region  Deaths  Recovered
5     2.871606e-07      Antarctica      11          0
110   1.096432e-06           Chile      42          0
237   0.000000e+00         Germany       0          0
283   0.000000e+00           India       0          0
397   0.000000e+00        Malaysia       0          0
436   0.000000e+00          Mexico       0          0
463   0.000000e+00     Netherlands       0          0
639   0.000000e+00           Spain       0          0
730   0.000000e+00              US       0          0
742   0.000000e+00              US       0          0
751   0.000000e+00              US       0          0
774   0.000000e+00              US       0          0
789   0.000000e+00              US       0          0
793   0.000000e+00              US       0          0
902   0.000000e+00              US       0          0
979   0.000000e+00              US       0          0
1249  0.000000e+00              US       0          0
1292  0.000000e+00              US       0          0
1479  0.000000e+00              US       0          0
1664  0.000000e+00              US       0          0
1691  0.000000e+00              US       0          0
1857  0.000000e+00              US       0          0
1894  0.000000e+00              US       0          0
2190  0.000000e+00              US       0          0
2310  0.000000e+00              US       0          0
2370  0.000000e+00              US       0          0
2707  0.000000e+00              US       0          0
2921  0.000000e+00              US       0          0
3038  0.000000e+00              US       0          0
3127  0.000000e+00              US       0          0
3177  0.000000e+00              US       0          0
3243  0.000000e+00              US       0          0
3753  0.000000e+00              US       0          0
3852  0.000000e+00              US       0          0
3922  0.000000e+00              US       0          0
3954  0.000000e+00              US       0          0
3991  0.000000e+00  United Kingdom       0          0

#Apply min max normalization

# The goal of normalization is to make every datapoint have the same scale so each feature is equally important.

In [ ]:

diff=(df['Confirmed'].max() - df['Confirmed'].min())

df['Confirmed'] = (df['Confirmed'] - df['Confirmed'].min()) / diff
df

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio
0,Tobefound,Tobefound,Tobefound,Afghanistan,2023-01-03 4:21,33.93911,67.709953,0.005420,7849,199778,Tobefound,Afghanistan,533.356919,3.780337
1,Tobefound,Tobefound,Tobefound,Albania,2023-01-03 4:21,41.1533,20.1683,0.008714,3595,330217,Tobefound,Albania,11599.55522,1.076953
2,Tobefound,Tobefound,Tobefound,Algeria,2023-01-03 4:21,28.0339,1.6596,0.007081,6881,264348,Tobefound,Algeria,618.523486,2.536971
3,Tobefound,Tobefound,Tobefound,Andorra,2023-01-03 4:21,42.5063,1.5218,0.001247,165,47586,Tobefound,Andorra,61801.59192,0.345543
4,Tobefound,Tobefound,Tobefound,Angola,2023-01-03 4:21,-11.2027,17.8739,0.002744,1930,103165,Tobefound,Angola,319.765542,1.836434
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4011,Tobefound,Tobefound,Tobefound,West Bank and Gaza,2023-01-03 4:21,31.9522,35.2332,0.018358,5708,697520,Tobefound,West Bank and Gaza,13784.95696,0.811686
4012,Tobefound,Tobefound,Tobefound,Winter Olympics 2022,2023-01-03 4:21,39.9042,116.4074,0.000014,0,535,Tobefound,Winter Olympics 2022,Tobefound,0.0
4013,Tobefound,Tobefound,Tobefound,Yemen,2023-01-03 4:21,15.552727,48.516388,0.000312,2159,9786,Tobefound,Yemen,40.048994,18.074508
4014,Tobefound,Tobefound,Tobefound,Zambia,2023-01-03 4:21,-13.133897,27.849332,0.008736,4024,330637,Tobefound,Zambia,1820.39709,1.202411
4015,Tobefound,Tobefound,Tobefound,Zimbabwe,2023-01-03 4:21,-19.015438,29.154857,0.006787,5637,254344,Tobefound,Zimbabwe,1749.191125,2.168235

Create bin values for “Death” column in the data set.

In [ ]:
# The pandas documentation describes qcut as a “Quantile-based discretization function.”
# This basically means that qcut tries to divide up the underlying data into equal sized bins.
# The function defines the bins using percentiles based on the distribution of the data, not the actual numeric edges of the bins.

df['accqcut']=pd.qcut(df['Deaths'], q=3)

In [ ]:
df['accqcut'].value_counts()

(-0.001, 67.0]         1350
(269.667, 183348.0]    1339
(67.0, 269.667]        1327
Name: accqcut, dtype: int64

In [ ]:
df['Deaths'].value_counts()

0       166
12       28
32       27
13       27
2        24
       ...
1528      1
2535      1
3941      1
394       1
5637      1
Name: Deaths, Length: 1309, dtype: int64

In [ ]:
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Incident_Rate,Case_Fatality_Ratio,accqcut
0,Tobefound,Tobefound,Tobefound,Afghanistan,2023-01-03 4:21,33.93911,67.709953,0.005420,7849,199778,Tobefound,Afghanistan,533.356919,3.780337,"(269.667, 183348.0]"
1,Tobefound,Tobefound,Tobefound,Albania,2023-01-03 4:21,41.1533,20.1683,0.008714,3595,330217,Tobefound,Albania,11599.55522,1.076953,"(269.667, 183348.0]"
2,Tobefound,Tobefound,Tobefound,Algeria,2023-01-03 4:21,28.0339,1.6596,0.007081,6881,264348,Tobefound,Algeria,618.523486,2.536971,"(269.667, 183348.0]"
3,Tobefound,Tobefound,Tobefound,Andorra,2023-01-03 4:21,42.5063,1.5218,0.001247,165,47586,Tobefound,Andorra,61801.59192,0.345543,"(67.0, 269.667]"
4,Tobefound,Tobefound,Tobefound,Angola,2023-01-03 4:21,-11.2027,17.8739,0.002744,1930,103165,Tobefound,Angola,319.765542,1.836434,"(269.667, 183348.0]"

Write a Python program to get the maximum number of confirmed,

In [ ]:
df['Confirmed'].max()

1.0