**Loops-  While and for**

**Data Structures- List, Tuple, Dicitonary and sets**

**Functions - built in and user defined function**

In [ ]:
x=1  #beg
while x<=10:  #end
  print("Hello")
  x=x+2  #jump/increment    x+=1

Hello
Hello
Hello
Hello
Hello

In [ ]:
#Print all the numbers between 40-20
x=40
while x>=20:
  print(x,end=" ")
  x-=1

40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20

In [ ]:
#Calculate sum of all the even numbers between 20-40

num=int(input("Enter a number:"))
if num%2==0:
  print("Even num")
else:
  print("odd number")

In [ ]:
x=int(input("enter the beg number of the range:"))
y=int(input("Enter the end number of a range:"))
while x<=y:
  if x%2==0:
    print(x)
  x=x+1

enter the beg number of the range:1
Enter the end number of a range:30
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
#Print all the numbers divisible by 5 between 50-100

for x in range(50,101,1):
  if x%5==0:
    print(x)

50
55
60
65
70
75
80
85
90
95
100

In [ ]:
#Prime number  - Take a number from a user and tell whether its a prime number or not!
#jump statements - break or continue
num=int(input("Enter a number to check whether its a prime num or not:"))
flag=1

for i in range(2,num):
    if num%i==0:
      flag=0
      break

if flag==0:
  print("Not a prime number")
else:
  print("Prime number")

Enter a number to check whether its a prime num or not:17
Prime number

In [ ]:
choice='y'
while choice.lower()=='y':
  print("Hello")

  choice=input("Do you wish to continue? (y/n):")

Hello
Do you wish to continue? (y/n):y
Hello
Do you wish to continue? (y/n):Y
Hello
Do you wish to continue? (y/n):y
Hello
Do you wish to continue? (y/n):j

In [ ]:
while True:
  print("1. Calculate sum of two numbers:")
  print("2. Find whether a number is an even/odd")
  print("3. exit")
  ans=input("Enter your choice 1/2/3:")
  if ans=="1":
    x=int(input("Enter a number:"))
    y=int(input("Enter a number:"))
    print(x+y)
  elif ans=="2":
    num=int(input("Enter a number:"))
    if num%2==0:
      print("even")
    else:
      print("odd")

  elif ans=="3":
    break
  else:
    print("Invalid choice")
    continue

1. Calculate sum of two numbers:
2. Find whether a number is an even/odd
3. exit
Enter your choice 1/2/3:1
Enter a number:3
Enter a number:4
7
1. Calculate sum of two numbers:
2. Find whether a number is an even/odd
3. exit
Enter your choice 1/2/3:6
Invalid choice
1. Calculate sum of two numbers:
2. Find whether a number is an even/odd
3. exit
Enter your choice 1/2/3:3

**DATA STRUCTURES**

In [ ]:
#List - []

fruits=['Banana','Mango','Apple','Cherry','Guava','Watermelon']
print(fruits[-5])

Mango

In [ ]:
#List Slicing
print(fruits)
# print(fruits[2:])
# print(fruits[:])
# print(fruits[::2])
print(fruits[-1:-4:-1])
#Reverse list
print(fruits[::-1])

['Banana', 'Mango', 'Apple', 'Cherry', 'Guava', 'Watermelon']
['Watermelon', 'Guava', 'Cherry']
['Watermelon', 'Guava', 'Cherry', 'Apple', 'Mango', 'Banana']

In [ ]:
L=[2,3,4,5,6,7,"apple",5.6]
for i in L:
  print(i,end=" ")

2 3 4 5 6 7 apple 5.6

In [ ]:
print(len(L))

8

In [ ]:
for i in range(0,len(L)):   #when you have to refer to the index value
  print(L[i])

0
1
2
3
4
5
6
7

In [ ]:
#Membership operator - in and not in

L=[23,45,67,8,9,345,23,56]
num=int(input("Enter an element:"))

if num in L:
  print("Found")
else:
  print("Not Found")

Enter an element:45
Found

In [ ]:
#Add new element to the list - list is mutable
# append(), extend(), insert()

L.append([1000,9000])
print(L[11][-1])  #nested list

9000

In [ ]:
L.insert(3,5000)
print(L)

[23, 45, 67, 5000, 8, 9, 345, 23, 56, 1000, 2000, 4000, [1000, 9000], [1000, 9000], [1000, 9000]]

In [ ]:
L.extend([2000,4000])
print(L)

[23, 45, 67, 8, 9, 345, 23, 56, 1000, 2000, 4000]

In [ ]:
#Dynamic List
name=[]
#name=list()

for i in range(1,6):
  n=input("enter the name:")
  name.append(n)


print(name)

enter the name:Geetu
enter the name:Nancy
enter the name:Copper
enter the name:ronny
enter the name:Star
['Geetu', 'Nancy', 'Copper', 'ronny', 'Star']

In [ ]:
#Removing elements from a list

#pop, remove, del

name.remove('Star')
print(name)

['Geetu', 'Nancy', 'Copper', 'ronny']

In [ ]:
name.pop()
print(name)

[]

In [ ]:
print(L)
L.pop(2)
print(L)

[23, 45, 67, 5000, 8, 9, 345, 23, 56, 1000, 2000, 4000, [1000, 9000], [1000, 9000], [1000, 9000]]
[23, 45, 5000, 8, 9, 345, 23, 56, 1000, 2000, 4000, [1000, 9000], [1000, 9000], [1000, 9000]]

In [ ]:
del L[10]
print(L)

[23, 45, 5000, 8, 9, 345, 23, 56, 1000, 2000, [1000, 9000], [1000, 9000], [1000, 9000]]

In [ ]:
#max(), min(), count(), len(), sort(), sorted()

# L.append(23)
print(L)
# print(max(L))
# print(min(L))
print(L.count(9))
L.sort(reverse=True)
print(L)
print(sorted(L, reverse=True))

[5000, 1000, 345, 56, 45, 23, 23, 23, 9, 8]
1
[5000, 1000, 345, 56, 45, 23, 23, 23, 9, 8]
[5000, 1000, 345, 56, 45, 23, 23, 23, 9, 8]