<a href="https://colab.research.google.com/github/SapanaKolambe/Data-Science-with-Python/blob/main/Python_Pandas_Tutorial_for_Beginners.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Pandas Tutorial for Beginners**

Pandas is a Python library which used to analyze data and working with data sets. Basically used for analyzing, cleaning, exploring, and manipulating data.

**Installation of Pandas(on System)**

In [ ]:
# system drive path>pip install pandas

If it gives error, then use a python software like, Anaconda, Spyder etc which having Pandas installed already.

**Installation of Pandas(Google Colab)**

In [2]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

Once Pandas library is installed, import it in your applications by using import keyword.

In [3]:
import pandas as pd

pd is object of oandas library. Now its ready to use.
The two major components of pandas are the “**Series**” and “**DataFrame**”.

**Pandas Series**

“Series” is basically a column in table which holding data of any type like integer, string, float, python objects, etc.

In [4]:
Country=["India","Australia","USA","Sri lanka","Pakistan"]

Created Country array.

In [5]:
list1=pd.Series(Country)
print(list1)

0        India
1    Australia
2          USA
3    Sri lanka
4     Pakistan
dtype: object

If index is not pecified, the values are labeled with their index number. 

First value has index 0, second value has index 1 etc.

We can display a specific value using index.

In [6]:
print(list1[1])

Australia

Using index argument, we can name own labels.

In [7]:
arr = ["A", "B", "C"]

var = pd.Series(arr, index = [10,30,70])

print(var)

10    A
30    B
70    C
dtype: object

In [8]:
print(var[30])

B

**The pandas DataFrame**

DataFrames are usually multi-dimensional tables in Pandas.
A basic DataFrame, which can be created is an Empty Dataframe.

In [9]:
frame1 = pd.DataFrame()
print (frame1)

Empty DataFrame
Columns: []
Index: []

In [38]:
data = {
    "Fruit": ["Apple", "Banana", "Orange"],
  "calories": [55, 90, 47]
  
}

frame2 = pd.DataFrame(data)
frame3=pd.DataFrame(data) 
print(frame2)

    Fruit  calories
0   Apple        55
1  Banana        90
2  Orange        47

**Column Selection**

In [29]:
print(frame2["Fruit"])

0     Apple
1    Banana
2    Orange
Name: Fruit, dtype: object

**Column Addition**

In [30]:
frame2['weight']=[100,50,100]
print(frame2)

    Fruit  calories  weight
0   Apple        55     100
1  Banana        90      50
2  Orange        47     100

**`Column Deletion`**

Columns can be deleted or popped.

In [31]:
del frame2['weight']

In [32]:
print(frame2)

    Fruit  calories
0   Apple        55
1  Banana        90
2  Orange        47

In [35]:
frame2.pop('calories')

0    55
1    90
2    47
Name: calories, dtype: int64

In [36]:
print(frame2)

    Fruit
0   Apple
1  Banana
2  Orange

**Addition of Rows**

In [39]:
frame2 = frame2.append(frame3)

In [40]:
print(frame2)

    Fruit  calories
0   Apple        55
1  Banana        90
2  Orange        47
0   Apple        55
1  Banana        90
2  Orange        47

**Deletion of Rows**

In [41]:
frame2 = frame2.drop(2)
print(frame2)

    Fruit  calories
0   Apple        55
1  Banana        90
0   Apple        55
1  Banana        90